<!Doctype html>
<html lang="en">
<head>
    <title>Forgotpage</title>
<body style="background-color:rgb(45, 77, 77);">
<h1>Forgot Password</h1>
<div class="container">
    <form action="login.html" id="f" method="post" onclick="validate();">
        <div class="#p1">
            <label for="email">Enter email</label>
            <input type="text" name="text">
            <button type="button" name=submit>Submit</button>
            <a href="login.html"><button type="button" name="submit"> Submit</button></a>
        </div>
</div>
</body>
</head>
